body {
    color: #fff;
    margin: 0;
    padding: 0;
}

body,
html {
    background-image: url(../pics/Wave-10s-1536px.svg);
    background-color: black;
    background-position: top;
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    padding: 0;
    margin: 0;
}

.context {
    padding: 1rem;
}

/* start of content styles */
.words_from_author {
    position: absolute;
    opacity: 0.5;
    right: 2%;
    bottom: 2%;
    display: flex;
    flex-direction: column;
}

.index_header {
    padding: 1rem 5rem;
}

.typing_animation {
    font-size: 40px;
    margin: 20px 0;
}

#typed {
    display: inline;
}

@keyframes tadam {
    from {
        display: none;
        opacity: 0;
        transform: translate(0, 200px);
    }

    to {
        display: block;
        transform: translate(0);
    }
}

@media (max-width: 610px) {
    .index_header {
        padding: 1rem;
    }
}

.index_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation_bar {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin-top: 5%;
}

.card_item {
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    transition: all .4s ease;
    background-position: center;
    overflow: hidden;
    background-size: cover;
    opacity: 1;
}

.card_item:nth-child(1) {
    background-image: url(../pics/rick-rothenberg-7lkVnPZGYU4-unsplash.jpg);
}

.card_item:nth-child(2) {
    background-image: url(../pics/rick-rothenberg-90LtDhjfjys-unsplash.jpg);
}

.card_item:nth-child(3) {
    background-image: url(../pics/rick-rothenberg-DiKRqjEv8Bc-unsplash.jpg);
}

.card_item:nth-child(4) {
    background-image: url(../pics/rick-rothenberg-Qb2jFwHNsSc-unsplash.jpg);
}

.card_item:nth-child(5) {
    background-image: url(../pics/rick-rothenberg-RgnlhZ4RWpQ-unsplash.jpg);
}

.info_container {
    width: 100%;
    padding: 1rem;
    margin-top: auto;
    border-radius: 0 0 14px 14px;
    background-color: #000000ab;
}

.info_text {
    font-weight: 300;
    font-size: 15px;
    margin-top: 15px;
    display: none;
}

.card_item:hover {
    transform: scale(1.2);
}

.card_item:hover .card_title {
    color: rgb(255, 255, 46);
}

.card_item:hover .info_text {
    display: block;
    animation: tadam2 .4s ease;
}

.card_title {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    display: flex;
    gap: 7px;
}

@keyframes tadam2 {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 700px) {
    .card_item:last-child {
        margin-bottom: 30px;
    }
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff60;
    border: 1px solid #000000;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff80;
}

body::-webkit-scrollbar-thumb:active {
    background-color: #ffffff;
}

body::-webkit-scrollbar-track {
    width: 8px;
    background-color: #000000;
}

.typed-strings span {
    padding: 1rem;
}